
body{
  background-color: rgb(134, 177, 208);
}

.meds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10em;
  padding-bottom: 20%;
  margin-left: 41%;
  margin-top: 20%;
  padding-right: 3%;

}

.meds li {
  display: flex;


}

.meds button {
  background-color: rgb(236, 203, 203);

  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: 0;
  border-radius: 20px;
  display: flex;
  align-items: stretch;
  height: 2.2em;
  border: none;
  font-size: medium;


}

.meds button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.meds button:active {
  background-color: #525252;
  color: #fafafa;
}

.meds button.selected {
  background-color: #A80000;
  color: white;
}

.meds button.selected:hover {
  background-color: #505050;
  color: white;
}

.meds button.selected:active {
  background-color: black;
  color: white;
}

.meds .badge {
  display: inline-block;
  font-size: medium;
  color: white;
  padding: 4px;
  /* padding: 0.8em 0.7em 0 0.7em; */
  background-color: #9bbde1;
  /* line-height: 1em; */
  margin-right: .8em;
  border-radius: 20px 0 0 20px;


}
.badge {

  width: 50px;
}

.meds .name {
  align-self: center;
  padding-right: 5px;
}

h2 {
  display: inline;
  margin-left: 9%;
  padding-left: 8px;

  color: #505050;

}
