
.pop-up{
  border: 2px solid grey;
  margin: 0 30% 0 30%;
  padding-left: 2%;
  padding-bottom: 2%;
  box-shadow: 5px 10px #369;
  margin-top: -72%;
  background-color: #e6e6e6;
  border-radius: 10pt;
  


}

